[LOAD_SQL_STG_GROUPS_ALLOTMENTS]
sql_execute_query_path = etl/groups_allotment/sql/execute/load_stg_groups_allotments.sql
sql_server = ODS
sql_database = VUELING_NAVITAIRE


[GET_SQL_CANCEL_MOVE]
sql_execute_query_path = etl/groups_allotment/sql/execute/get_cancel_move.sql
sql_server = ODS
sql_database = VUELING_NAVITAIRE

[GET_SQL_CANCEL_FOR_USERS]
sql_execute_query_path = etl/groups_allotment/sql/execute/get_cancel_for_users.sql
sql_server = ODS

[GET_SQL_MOVE_GRAL]
sql_execute_query_path = etl/groups_allotment/sql/execute/get_move_gral.sql
sql_server = ODS
sql_database = VUELING_NAVITAIRE


[LOAD_SQL_STG_SALES_PAX]
sql_execute_query_path = etl/groups_allotment/sql/execute/load_stg_sales_pax.sql
sql_server = ODS
sql_database = VUELING_NAVITAIRE

[LOAD_SQL_STG_SALES_PAX_HI]
sql_execute_query_path = etl/groups_allotment/sql/execute/load_stg_sales_pax_hi.sql
sql_server = ODS
sql_database = VUELING_NAVITAIRE

[LOAD_SQL_STG_SALES_ALL_PAX]
sql_execute_query_path = etl/groups_allotment/sql/execute/load_stg_sales_all_pax.sql
sql_server = ODS
sql_database = VUELING_NAVITAIRE

[LOAD_SQL_STG_MOV_GRAL]
sql_execute_query_path = etl/groups_allotment/sql/execute/load_stg_mov_gral.sql
sql_server = ODS
sql_database = VUELING_NAVITAIRE

[LOAD_STG_CANCEL_ALLOTMENTS]
sql_execute_query_path = etl/groups_allotment/sql/execute/load_stg_cancel_allotments.sql
sql_server = ODS
sql_database = VUELING_NAVITAIRE

[FIND_STG_ALLOTMENT]
sql_execute_query_path = etl/groups_allotment/sql/execute/find_stg_allotment.sql
sql_server = ODS
sql_database = VUELING_NAVITAIRE

[INSERT_STG_ALLOTMENT]
sql_execute_query_path = etl/groups_allotment/sql/execute/insert_stg_allotment.sql
sql_server = ODS
sql_database = VUELING_NAVITAIRE


# CLOUD

[UPLOAD_TO_S3_GROUP_ALLOTMENT]
s3_path = commercial/salesb2b/mice/group_allotments/

[TRUNCATE_STG_CUST_GROUP_ALLOTMENT]
redshift_execute_query_path = etl/groups_allotment/redshift/truncate/truncate_stg_cust_group_allotmentt.sql

[COPY_FROM_S3_STG_CUST_GROUP_ALLOTMENT]
redshift_table = salesb2b.stg_cust_group_allotment
s3_path = commercial/salesb2b/mice/group_allotments/
redshift_copy_query_path = etl/groups_allotment/redshift/copy/copy_s3_stg_cust_group_allotment.sql


[DELETE_EXISTING_RECORDS_CUST_GROUP_ALLOTMENT]
redshift_execute_query_path = etl/groups_allotment/redshift/delete/delete_existing_records.sql


[INSERT_NEW_RECORDS]
redshift_execute_query_path = etl/groups_allotment/redshift/insert/insert_new_records.sql

[GET_ALLOTMENT_FLOWN]
redshift_execute_query_path = etl/groups_allotment/redshift/select/get_allotment_flown.sql

[GET_ALLOTMENT_FLIGHT_PRICE]
redshift_execute_query_path = etl/groups_allotment/redshift/select/get_allotment_flight_price.sql








