[SECRET]
name = data/commercial/salesb2b/mice-k8s



[SECRET_KEYS]
ODS_SQLS_HOST = ODS_SQLS_HOST
ODS_SQLS_PORT = ODS_SQLS_PORT
ODS_SQLS_USER = ODS_SQLS_USER
ODS_SQLS_PASSWORD = ODS_SQLS_PASSWORD

DMV_SQLS_HOST = DMV_SQLS_HOST
DMV_SQLS_PORT = DMV_SQLS_PORT
DMV_SQLS_USER = DMV_SQLS_USER
DMV_SQLS_PASSWORD = DMV_SQLS_PASSWORD

REDSHIFT_HOST = redshift_host
REDSHIFT_PORT = redshift_port
REDSHIFT_USER = redshift_user
REDSHIFT_PASSWORD = redshift_pass
REDSHIFT_DATABASE = redshift_database

ELASTIC_LOG_HOST = elastic_log_host
ELASTIC_LOG_PORT = elastic_log_port

NAVITAIRE_SQLS_HOST = navitaire_sqls_host
NAVITAIRE_SQLS_PORT = navitaire_sqls_port
NAVITAIRE_SQLS_USER = navitaire_sqls_user
NAVITAIRE_SQLS_PASSWORD = navitaire_sqls_password

# REPORTS
EMAIL_CONFIG_REPORT_BILLETES_VENDIDOS_POR_IB = EMAIL_CONFIG_REPORT_BILLETES_VENDIDOS_POR_IB
EMAIL_CONFIG_TTOO_REPORT_SUNDIO = EMAIL_CONFIG_TTOO_REPORT_SUNDIO
EMAIL_CONFIG_TTOO_REPORT_CORENDON = EMAIL_CONFIG_TTOO_REPORT_CORENDON
EMAIL_CONFIG_TTOO_REPORT_MUNDIPLAN = EMAIL_CONFIG_TTOO_REPORT_MUNDIPLAN
EMAIL_CONFIG_TTOO_REPORT_TURISMO_SOCIAL = EMAIL_CONFIG_TTOO_REPORT_TURISMO_SOCIAL
EMAIL_CONFIG_REPORT_EXTRA_SEATS = EMAIL_CONFIG_REPORT_EXTRA_SEATS
EMAIL_CONFIG_REPORT_YPSILON = EMAIL_CONFIG_REPORT_YPSILON
PASSWORD_ZIP_CONFIG_REPORT_YPSILON = PASSWORD_ZIP_CONFIG_REPORT_YPSILON
EMAIL_CONFIG_REPORT_CREDITO_INDIVIDUAL = EMAIL_CONFIG_REPORT_CREDITO_INDIVIDUAL
EMAIL_CONFIG_REPORT_CONTACTOS_INDIRECTOS = EMAIL_CONFIG_REPORT_CONTACTOS_INDIRECTOS
EMAIL_CONFIG_REPORT_CREDITSHELL = EMAIL_CONFIG_REPORT_CREDITSHELL
EMAIL_CONFIG_REPORT_PAXNOSHOW_GBPTG = EMAIL_CONFIG_REPORT_PAXNOSHOW_GBPTG
EMAIL_CONFIG_REPORT_PMR_ALC = EMAIL_CONFIG_REPORT_PMR_ALC
EMAIL_CONFIG_REPORT_PAX_NO_SHOW_GCHARTER = EMAIL_CONFIG_REPORT_PAX_NO_SHOW_GCHARTER
EMAIL_CONFIG_REPORT_SSR_TTOO = EMAIL_CONFIG_REPORT_SSR_TTOO
EMAIL_CONFIG_REPORT_MONITORIZACION_VENTAS_DIARIO = EMAIL_CONFIG_REPORT_MONITORIZACION_VENTAS_DIARIO
EMAIL_CONFIG_REPORT_GRUPOS_DEPORTIVOS = EMAIL_CONFIG_REPORT_GRUPOS_DEPORTIVOS
EMAIL_CONFIG_REPORT_GROUPS_TOUROPERATION_CHARTER = EMAIL_CONFIG_REPORT_GROUPS_TOUROPERATION_CHARTER
EMAIL_CONFIG_REPORT_TBA_SAS = EMAIL_CONFIG_REPORT_TBA_SAS
EMAIL_CONFIG_REPORT_PNRS_TBA_TTOO = EMAIL_CONFIG_REPORT_PNRS_TBA_TTOO
EMAIL_CONFIG_REPORT_PNRS_DESBALANCEADOS_TTOO_GCHARTER = EMAIL_CONFIG_REPORT_PNRS_DESBALANCEADOS_TTOO_GCHARTER
EMAIL_CONFIG_REPORT_RESERVAS_NUMERO_TARJETA_VUELING = EMAIL_CONFIG_REPORT_RESERVAS_NUMERO_TARJETA_VUELING
OWNERS_CONFIG_REPORT_RESERVAS_NUMERO_TARJETA_VUELING = OWNERS_CONFIG_REPORT_RESERVAS_NUMERO_TARJETA_VUELING
EMAIL_CONFIG_REPORT_NGCB_DISRUPTION = EMAIL_CONFIG_REPORT_NGCB_DISRUPTION
EMAIL_CONFIG_REPORT_TRAVELFUSION = EMAIL_CONFIG_REPORT_TRAVELFUSION
PASSWORD_ZIP_CONFIG_REPORT_TRAVELFUSION = PASSWORD_ZIP_CONFIG_REPORT_TRAVELFUSION
EMAIL_CONFIG_REPORT_MONITORIZACION_BUNDLES = EMAIL_CONFIG_REPORT_MONITORIZACION_BUNDLES
EMAIL_CONFIG_REPORT_TTOO_ALLOTMENTS = EMAIL_CONFIG_REPORT_TTOO_ALLOTMENTS
EMAIL_CONFIG_REPORT_RESIDENTES_B2B = EMAIL_CONFIG_REPORT_RESIDENTES_B2B
EMAIL_CONFIG_REPORT_PMR_VLC = EMAIL_CONFIG_REPORT_PMR_VLC
EMAIL_CONFIG_REPORT_CABIN_BAG = EMAIL_CONFIG_REPORT_CABIN_BAG
EMAIL_CONFIG_REPORT_FRAUD = EMAIL_CONFIG_REPORT_FRAUD
EMAIL_CONFIG_REPORT_NOSHOW = EMAIL_CONFIG_REPORT_NOSHOW
EMAIL_CONFIG_REPORT_IAG_CAPACITY_FULL = EMAIL_CONFIG_REPORT_IAG_CAPACITY_FULL
EMAIL_CONFIG_REPORT_PLUSGRADE = EMAIL_CONFIG_REPORT_PLUSGRADE
EMAIL_CONFIG_REPORT_REASSIGNMENT_ANCILLARIES = EMAIL_CONFIG_REPORT_REASSIGNMENT_ANCILLARIES
EMAIL_CONFIG_REPORT_CRUCEROS=EMAIL_CONFIG_REPORT_CRUCEROS
EMAIL_CONFIG_REPORT_PLUSGRADE_TG = EMAIL_CONFIG_REPORT_PLUSGRADE_TG
EMAIL_CONFIG_REPORT_PRESERVAS_CALLCENTER = EMAIL_CONFIG_REPORT_PRESERVAS_CALLCENTER
EMAIL_CONFIG_REPORT_CONFIRMACION_SEGUROS = EMAIL_CONFIG_REPORT_CONFIRMACION_SEGUROS
EMAIL_CONFIG_REPORT_CODESHARE_BOOOKINGS  = EMAIL_CONFIG_REPORT_CODESHARE_BOOOKINGS

#Report iberia gonow ancillaries
FTP_HOST_IBERIA_GONOW_ANCILLARIES = FTP_HOST_IBERIA_GONOW_ANCILLARIES
FPT_PASS_IBERIA_GONOW_ANCILLARIES = FPT_PASS_IBERIA_GONOW_ANCILLARIES
FTP_PORT_IBERIA_GONOW_ANCILLARIES = FTP_PORT_IBERIA_GONOW_ANCILLARIES
FTP_USER_IBERIA_GONOW_ANCILLARIES = FTP_USER_IBERIA_GONOW_ANCILLARIES

#Sharepoint
SHAREPOINT_CLIENT_ID = SHAREPOINT_CLIENT_ID
SHAREPOINT_TENANT_ID = SHAREPOINT_TENANT_ID
SHAREPOINT_CLIENT_SECRET = SHAREPOINT_CLIENT_SECRET
SHAREPOINT_DRIVE_ID = SHAREPOINT_DRIVE_ID
SHAREPOINT_PATH_ID = SHAREPOINT_PATH_ID
SHAREPOINT_PATH_FILE_REPORT_MCC = SHAREPOINT_PATH_FILE_REPORT_MCC
SHAREPOINT_PATH_FILE_REPORT_AB = SHAREPOINT_PATH_FILE_REPORT_AB
